@page
@model OnlineBookStore.Areas.Identity.Pages.Account.LoginModel
@{
	ViewData["Title"] = "Login Test";
	Layout = "/Areas/Identity/Pages/Account/_AuthLayout.cshtml";
}

<main class="py-5 auth-flex">
	<div class="form-col">
		<form method="post" asp-area="Identity" asp-page="/Account/Login">
			@Html.AntiForgeryToken()

			<h2>Login</h2>
			<hr />
			<div asp-validation-summary="All" class="text-danger" role="alert"></div>
			<div class="mb-3">
				<label asp-for="Input.Email">Email</label>
				<input asp-for="Input.Email"
					   class="form-control"
					   name="Input.Email"
					   id="Input_Email"
					   autocomplete="username" />
				<span asp-validation-for="Input.Email" class="text-danger"></span>
				<div class="text-muted text-center">We will never share your email adress!</div>
			</div>

			<div class="mb-3">
				<label asp-for="Input.Password">Password</label>
				<input asp-for="Input.Password"
					   class="form-control"
					   name="Input.Password"
					   id="Input_Password"
					   type="password"
					   autocomplete="current-password" />
				<span asp-validation-for="Input.Password" class="text-danger"></span>
			</div>

			<button type="submit" class="btn btn-primary">Log in</button>
		</form>
	</div>
</main>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}
